<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>

<LINK REL=StyleSheet HREF="css/style.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Titanic Home</title>

</head>
<body>
<div class="container">

<!-- nav bar link to nav.html -->
	<nav th:replace="layouts/nav :: navFragment">
	</nav>
	  
<!--  table  ../static/  -->
<h2>Titanic</h2>
	<table class ="table table-striped">
		<thead>
			<tr>
				<th>Column</th>
				<th>Value</th>
			</tr>					
		</thead>
		
		<tbody>
			<tr>
				<td>Passenger ID</td> <!-- 2, -->
				<td th:text="${titanic.passengerid}"></td>
			</tr>
			<tr>
				<td>Survived</td> 
				<td th:text="${titanic.survived}"></td>
			</tr>
			<tr>
				<td>Class</td> 
				<td th:text="${titanic.pclass}"></td>
			</tr>
			<tr>
				<td>Name</td> 
				<td th:text="${titanic.name}"></td>
			</tr>
			<tr>
				<td>Sex</td> 
				<td th:text="${titanic.sex}"></td>
			</tr>
			<tr>
				<td>Age</td> 
				<td th:text="${titanic.age}"></td>
			</tr>
			
		</tbody>
		
	</table>

<!--  blue letters  -->	
	<p><a href="/">Home</a></p> 

	
<!--  blue nav bar  -->
	<div class="btn-group btn-group-justified"> 
	    <a href="/" class="btn btn-primary">Home</a>

	</div>
</div> <!--  close container  -->
</body>
</body>
</html>