<html>
<body>

<!--  top nav bar  1 -->
	<nav class="navbar navbar-default by-primary" th:fragment="navFragment"> 
		  <div class="container-fluid">
			    <div class="navbar-header">
				      <a class="navbar-brand" href="/">Home</a>
				      <a class="navbar-brand" href="/weather/belfast">Belfast Events</a>

			    </div>
		   </div>
	 </nav>
	 
	 

	 
<!--  blue letters 3 -->
	 	<nav class="navbar navbar-default by-primary" th:fragment="navFragment3">  
					<p><a href="/weather/belfast"></a></p>
					<p><a href="/weather/dublin"></a></p>
					<p><a href="/weather/london"></a></p>
	 	</nav>
	 
	 
	 <!--  botton nav bar 2 -->
	 <nav class="navbar navbar-default by-primary" th:fragment="navFragment2"> 
	 
		<div class="btn-group btn-group-justified"> 
				    <a href="/" class="btn btn-primary">Home</a>
				    <a href="/weather/dublin" class="btn btn-primary">Belfast Events</a>
		</div>
	 </nav>


</body>	
</html>
	