<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>

<LINK REL=StyleSheet HREF="css/style.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Weather Home</title>

</head>
<body>
<div class="container">

<!-- nav bar link to nav.html -->
	<nav th:replace="layouts/nav :: navFragment">
	</nav>
	  
<!--  table  ../static/  -->
<h2>Weather by location</h2>


	<table class ="table table-striped">
		<thead>
			<tr>	
				<th>City</th>
				<th>Weather</th>
				<th>Weather</th>
				<th>Temperature in °C</th>
				<th>Image</th>				 <!-- step1  -->
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td th:text="${todaysevent.allEvents.event.identifier}"> City Name</td>

			</tr>		
		</tbody>
	</table>	

<!--  blue letters  3  -->	
	<nav th:replace="layouts/nav :: navFragment3">
	</nav>
	
	<!--  blue nav bar  2 -->
	<nav th:replace="layouts/nav :: navFragment2">
	</nav>
	
</div> <!--  close container  -->
</body>
</body>
</html>